@import "tailwindcss";

/* Base */
.root {
    isolation: isolate;
}

/* Theme */
@theme {
    --color-yellow: hsl(48, 100, 64);
    --color-blue: hsl(240, 58, 45);
}

/* Components */
@layer components {
    .rule-section {
        @apply pt-4 text-3xl font-bold;
    }

    .rule-title {
        @apply pt-2 text-2xl;
    }

    .rule-description {
        @apply pl-6;
    }
}
